infobutton-schema/src/main/resources/aAtom.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Guilherme Del Fiol (Duke University) -->
<xs:schema xmlns="http://www.w3.org/2005/Atom:atom" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:v3="urn:hl7-org:v3" targetNamespace="http://www.w3.org/2005/Atom:atom" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="REDS_MT010001UV-Restricted-flattened-08-19-2011.xsd"/>
	<xs:element name="feed" type="feedType">
		<xs:annotation>
			<xs:documentation>A knowledge response consists of one or more feeds. Each feed corresponds to one matching knowlegde resource.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="entry" type="entryType">
		<xs:annotation>
			<xs:documentation>A feed contains one or more entries. Each entry corresponds to a matching knowlegde subject within a knowledge resource.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="textType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The Atom text construct is defined in section 3.1 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="text"/>
					<xs:enumeration value="html"/>
					<xs:enumeration value="xhtml"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation>
				The Atom person construct is defined in section 3.2 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="name" type="xs:string"/>
			<xs:element name="uri" type="uriType" minOccurs="0"/>
			<xs:element name="email" type="emailType" minOccurs="0"/>
			<xs:any namespace="##other"/>
		</xs:choice>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:simpleType name="emailType">
		<xs:annotation>
			<xs:documentation>
				Schema definition for an email address.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\w+@(\w+\.)+\w+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="feedType">
		<xs:annotation>
			<xs:documentation>
				The Atom feed construct is defined in section 4.1.1 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="textType"/>
			<xs:element name="subtitle" type="textType" minOccurs="0"/>
			<xs:element name="author" type="personType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="updated" type="dateTimeType"/>
			<xs:element name="category" type="categoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="idType"/>
			<xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="rights" type="textType" minOccurs="0"/>
			<xs:element name="generator" type="generatorType" minOccurs="0"/>
			<xs:element name="entry" type="entryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contributor" type="personType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="icon" type="iconType" minOccurs="0"/>
			<xs:element name="logo" type="logoType" minOccurs="0"/>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="entryType">
		<xs:annotation>
			<xs:documentation>
				The Atom entry construct is defined in section 4.1.2 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="textType"/>
			<xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="idType"/>
			<xs:element name="updated" type="dateTimeType"/>
			<xs:element name="author" type="personType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contributor" type="personType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="summary" type="textType" minOccurs="0"/>
			<xs:element name="content" type="contentType" minOccurs="0"/>
			<xs:element name="category" type="categoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="published" type="dateTimeType" minOccurs="0"/>
			<xs:element name="rights" type="textType" minOccurs="0"/>
			<xs:element name="source" type="textType" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="contentType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The Atom content construct is defined in section 4.1.3 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string"/>
		<xs:attribute name="src" type="xs:anyURI"/>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="categoryType">
		<xs:annotation>
			<xs:documentation>
				The Atom cagegory construct is defined in section 4.2.2 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="v3:informationRecipient"/>
			<xs:element ref="v3:mainSearchCriteria"/>
			<xs:element ref="v3:patientContext"/>
			<xs:element ref="v3:performer"/>
			<xs:element ref="v3:subTopic"/>
			<xs:element ref="v3:taskContext"/>
			<xs:element ref="v3:encounter"/>
		</xs:choice>
		<xs:attribute name="term" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MATCHED"/>
					<xs:enumeration value="UNMATCHED"/>
					<xs:enumeration value="OTHER"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="scheme" use="optional" fixed="REDS_MT010001UV">
			<xs:simpleType>
				<xs:restriction base="xs:anyURI">
					<xs:enumeration value="REDS_MT010001UV"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="label" type="xs:string" use="optional"/>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="generatorType">
		<xs:annotation>
			<xs:documentation>
				The Atom generator element is defined in section 4.2.4 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="uri" type="xs:anyURI" use="optional"/>
				<xs:attribute name="version" type="xs:string" use="optional"/>
				<xs:attributeGroup ref="commonAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="iconType">
		<xs:annotation>
			<xs:documentation>
				The Atom icon construct is defined in section 4.2.5 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="commonAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="idType">
		<xs:annotation>
			<xs:documentation>
				The Atom id construct is defined in section 4.2.6 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="commonAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="linkType" mixed="true">
		<xs:annotation>
			<xs:documentation>
				The Atom link construct is defined in section 3.4 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="required"/>
		<xs:attribute name="rel" type="xs:string" use="optional"/>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="hreflang" type="xs:NMTOKEN" use="optional"/>
		<xs:attribute name="title" type="xs:string" use="optional"/>
		<xs:attribute name="length" type="xs:positiveInteger" use="optional"/>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="logoType">
		<xs:annotation>
			<xs:documentation>
				The Atom logo construct is defined in section 4.2.8 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="commonAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sourceType">
		<xs:annotation>
			<xs:documentation>
				The Atom source construct is defined in section 4.2.11 of the format spec.
			</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="author" type="personType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="category" type="categoryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contributor" type="personType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="generator" type="generatorType" minOccurs="0"/>
			<xs:element name="icon" type="iconType" minOccurs="0"/>
			<xs:element name="id" type="idType" minOccurs="0"/>
			<xs:element name="link" type="linkType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="logo" type="logoType" minOccurs="0"/>
			<xs:element name="rights" type="textType" minOccurs="0"/>
			<xs:element name="subtitle" type="textType" minOccurs="0"/>
			<xs:element name="title" type="textType" minOccurs="0"/>
			<xs:element name="updated" type="dateTimeType" minOccurs="0"/>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attributeGroup ref="commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="uriType">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI">
				<xs:attributeGroup ref="commonAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dateTimeType">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attributeGroup ref="commonAttributes"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attributeGroup name="commonAttributes">
		<xs:attribute ref="xml:base"/>
		<xs:attribute ref="xml:lang"/>
	</xs:attributeGroup>
</xs:schema>
