oib-responder/rxnorm-rest-model/src/main/resources/jaxb/rxNormRestModelBinding/rxnormrest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ............................................................... -->
<!-- XML Schema specification for RXNORM RESTful web services  ..... -->
<!-- Modified: 29-Apr-2013 ......................................... -->
<!-- ............................................................... -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

        <xsd:element name="rxnormdata">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="allRelatedGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="brandGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="displayTermsList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="drugGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="idGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="idTypeList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="propCategoryList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="propNameList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ndcGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="properties" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="proprietaryGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="relationTypeList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="sourceTypeList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="termTypeList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="quantityGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="relatedGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="remapGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="resourceList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="splSetIdGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="strengthGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="suggestionGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="version" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="uniiGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="approxGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="minConceptGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="propConceptGroup" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="rxcuiStatus" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="approximateGroup" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

		<xsd:element name="rxcuiStatus">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element ref="status" minOccurs="1" maxOccurs="1"/>
                    <xsd:element ref="remappedDate" minOccurs="1" maxOccurs="1"/>
                	<xsd:element ref="minConceptGroup" minOccurs="0" maxOccurs="1"/>		
				</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
        
        <xsd:element name="status">
	    <xsd:complexType mixed="true"/>
        </xsd:element> 
        
        <xsd:element name="remappedDate">
	    <xsd:complexType mixed="true"/>
        </xsd:element> 
        
		<xsd:element name="propConceptGroup">
            <xsd:complexType>
                <xsd:sequence>
                	<xsd:element ref="propConcept" minOccurs="0" maxOccurs="unbounded"/>		
				</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
        
        
        
        <xsd:element name="propConcept">
            <xsd:complexType>
        	<xsd:sequence>
				<xsd:element ref="propCategory" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="propName" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="propValue" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
        
        
		<xsd:element name="minConceptGroup">
            <xsd:complexType>
                <xsd:sequence>
                	<xsd:element ref="minConcept" minOccurs="0" maxOccurs="unbounded"/>		
				</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
		
		<xsd:element name="minConcept">
            <xsd:complexType>
        	<xsd:sequence>
				<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="name" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="tty" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>

		
		<xsd:element name="approxGroup">
            <xsd:complexType>
                <xsd:sequence>
                	<xsd:element ref="inputTerm" minOccurs="1" maxOccurs="1"/>
                	<xsd:element ref="candidate" minOccurs="0" maxOccurs="unbounded"/>		
				</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
        
	<xsd:element name="approximateGroup">
            <xsd:complexType>
                <xsd:sequence>
                	<xsd:element ref="inputTerm" minOccurs="1" maxOccurs="1"/>
                	<xsd:element ref="maxEntries" minOccurs="0" maxOccurs="1"/>
                	<xsd:element ref="option" minOccurs="0" maxOccurs="1"/>
                	<xsd:element ref="comment" minOccurs="0" maxOccurs="1"/>
                	<xsd:element ref="candidate" minOccurs="0" maxOccurs="unbounded"/>		
		</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
        
        <xsd:element name="candidate">
            <xsd:complexType>
                <xsd:sequence>
                	<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>	
                	<xsd:element ref="rxaui" minOccurs="1" maxOccurs="1"/>
                	<xsd:element ref="score" minOccurs="1" maxOccurs="1"/>
                	<xsd:element ref="rank" minOccurs="1" maxOccurs="1"/>	
				</xsd:sequence>
	    	</xsd:complexType>
        </xsd:element>
        
        <xsd:element name="inputTerm">
	    <xsd:complexType mixed="true"/>
        </xsd:element> 
        
        <xsd:element name="maxEntries">
	    <xsd:complexType mixed="true"/>
        </xsd:element> 
        
        <xsd:element name="option">
	    <xsd:complexType mixed="true"/>
        </xsd:element> 
        
        <xsd:element name="comment">
	    <xsd:complexType mixed="true"/>
        </xsd:element> 
        
        <xsd:element name="rxaui">
	    <xsd:complexType mixed="true"/>
        </xsd:element>  
        
        <xsd:element name="score">
	    <xsd:complexType mixed="true"/>
        </xsd:element>  
        
        <xsd:element name="rank">
	    <xsd:complexType mixed="true"/>
        </xsd:element>  
        
        <xsd:element name="allRelatedGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="conceptGroup" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="brandGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="ingredientList" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="conceptProperties" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="conceptGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="tty" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="conceptProperties" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="conceptProperties">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="name" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="synonym" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="tty" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="language" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="suppress" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="umlscui" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="displayTermsList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="term" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="drugGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="name" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="conceptGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="idGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="idType" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="id" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="name" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="sourceList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="allSources" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="rxnormId" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="idTypeList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="idName" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

		<xsd:element name="propCategoryList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="propCategory" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>
        
        <xsd:element name="propNameList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="propName" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>
        
        
        <xsd:element name="ingredientList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxnormId" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="ndcGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="ndcList" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="properties">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="name" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="synonym" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="tty" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="language" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="suppress" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="umlscui" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="proprietaryGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="sourceList" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="rxaui" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="proprietaryInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="proprietaryInfo">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="name" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="type" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="id" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="source" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="quantityGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="quantity" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="relatedGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="termType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="rela" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="conceptGroup" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="remapGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="remappedToRxcui" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="splSetIdGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="splSetId" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="strengthGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="strength" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="suggestionGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="name" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="suggestionList" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="suggestionList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="suggestion" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="ndcList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="ndc" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="relationTypeList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="relationType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="resourceList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="resource" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="sourceList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="sourceName" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="sourceTypeList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="sourceName" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="termTypeList">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="termType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="uniiGroup">
            <xsd:complexType>
                <xsd:sequence>
			<xsd:element ref="rxcui" minOccurs="1" maxOccurs="1"/>
			<xsd:element ref="unii" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	    </xsd:complexType>
        </xsd:element>

        <xsd:element name="allSources">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="id">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="idName">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

		<xsd:element name="propName">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
        
        <xsd:element name="propValue">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
        
        <xsd:element name="propCategory">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
        
        <xsd:element name="idType">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="language">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="name">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="ndc">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="quantity">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="rela">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="relationType">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="remappedToRxcui">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="resource">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="rxcui">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="rxnormId">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="source">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="sourceName">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="strength">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="splSetId">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="suggestion">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="suppress">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="synonym">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="term">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="termType">
	    <xsd:complexType mixed="true"/>
        </xsd:element>

        <xsd:element name="tty">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="type">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="umlscui">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="unii">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
        <xsd:element name="version">
	    <xsd:complexType mixed="true"/>
        </xsd:element>
			
</xsd:schema>
