oib-request/oib-request-schema/src/main/resources/KnowledgeResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by 
	Guilherme Del Fiol (Duke University) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2001/03/xml.xsd" />
	<xs:element name="aggregateKnowledgeResponse" type="aggregateKnowledgeResponse">
		<xs:annotation>
			<xs:documentation>Aggregate knowledge response root element
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="feed" type="feedType">
		<xs:annotation>
			<xs:documentation>Knowledge response root element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="entry" type="entryType" />
	<xs:complexType name="textType" mixed="true">
		<xs:annotation>
			<xs:documentation>The Atom text construct is defined in section 3.1
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/1999/xhtml" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="text" />
					<xs:enumeration value="html" />
					<xs:enumeration value="xhtml" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="personType">
		<xs:annotation>
			<xs:documentation>The Atom person construct is defined in section 3.2
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="name" type="xs:string" />
			<xs:element name="uri" type="uriType" minOccurs="0" />
			<xs:element name="email" type="emailType" minOccurs="0" />
			<xs:any namespace="##other" />
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="emailType">
		<xs:annotation>
			<xs:documentation>Schema definition for an email address.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:normalizedString">
			<xs:pattern value="\w+@(\w+\.)+\w+" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="feedType">
		<xs:annotation>
			<xs:documentation>The Atom feed construct is defined in section 4.1.1
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="textType" />
			<xs:element name="subtitle" type="textType" minOccurs="0" />
			<xs:element name="author" type="personType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="updated" type="dateTimeType" />
			<xs:element name="category" type="categoryType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="id" type="idType" />
			<xs:element name="link" type="linkType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="rights" type="textType" minOccurs="0" />
			<xs:element name="generator" type="generatorType"
				minOccurs="0" />
			<xs:element name="entry" type="entryType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="contributor" type="personType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="icon" type="iconType" minOccurs="0" />
			<xs:element name="logo" type="logoType" minOccurs="0" />
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes" />
	</xs:complexType>
	<xs:complexType name="entryType">
		<xs:annotation>
			<xs:documentation>The Atom entry construct is defined in section
				4.1.2 of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="title" type="textType" />
			<xs:element name="link" type="linkType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="id" type="idType" />
			<xs:element name="updated" type="dateTimeType" />
			<xs:element name="author" type="personType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="contributor" type="personType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="summary" type="textType" minOccurs="0" />
			<xs:element name="content" type="contentType" minOccurs="0" />
			<xs:element name="category" type="categoryType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="published" type="dateTimeType"
				minOccurs="0" />
			<xs:element name="rights" type="textType" minOccurs="0" />
			<xs:element name="source" type="textType" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes" />
	</xs:complexType>
	<xs:complexType name="contentType" mixed="true">
		<xs:annotation>
			<xs:documentation>The Atom content construct is defined in section
				4.1.3 of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="categoryType">
		<xs:annotation>
			<xs:documentation>The Atom cagegory construct is defined in section
				4.2.2 of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="term" type="xs:string" use="required" />
		<xs:attribute name="scheme" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="patientPerson.administrativeGenderCode.c" />
					<xs:enumeration value="patientPerson.administrativeGenderCode.dn" />
					<xs:enumeration value="ageGroup.v.c" />
					<xs:enumeration value="ageGroup.v.cs" />
					<xs:enumeration value="ageGroup.v.dn" />
					<xs:enumeration value="taskContext.c.c" />
					<xs:enumeration value="taskContext.c.dn" />
					<xs:enumeration value="subTopic.v.c" />
					<xs:enumeration value="subTopic.v.cs" />
					<xs:enumeration value="subTopic.v.dn" />
					<xs:enumeration value="subTopic.v.ot" />
					<xs:enumeration value="mainSearchCriteria.v.c" />
					<xs:enumeration value="mainSearchCriteria.v.cs" />
					<xs:enumeration value="mainSearchCriteria.v.dn" />
					<xs:enumeration value="mainSearchCriteria.v.ot" />
					<xs:enumeration value="severityObservation.interpretationCode.c" />
					<xs:enumeration value="severityObservation.interpretationCode.cs" />
					<xs:enumeration value="severityObservation.interpretationCode.dn" />
					<xs:enumeration value="informationRecipient" />
					<xs:enumeration value="performer" />
					<xs:enumeration value="performer.healthCareProvider.c.c" />
					<xs:enumeration value="performer.healthCareProvider.c.cs" />
					<xs:enumeration value="performer.healthCareProvider.c.dn" />
					<xs:enumeration value="informationRecipient.healthCareProvider.c.c" />
					<xs:enumeration value="informationRecipient.healthCareProvider.c.cs" />
					<xs:enumeration value="informationRecipient.healthCareProvider.c.dn" />
					<xs:enumeration value="performer.languageCode" />
					<xs:enumeration value="informationRecipient.languageCode.c" />
					<xs:enumeration value="encounter.c.c" />
					<xs:enumeration value="encounter.c.cs" />
					<xs:enumeration value="encounter.c.dn" />
					<xs:enumeration value="observation.c.c" />
					<xs:enumeration value="observation.c.cs" />
					<xs:enumeration value="observation.c.dn" />
					<xs:enumeration value="observation.v.c" />
					<xs:enumeration value="observation.v.cs" />
					<xs:enumeration value="observation.v.dn" />
					<xs:enumeration value="observation.v.v" />
					<xs:enumeration value="Observation.v.u" />
					<xs:enumeration value="locationOfInterest.addr.ZIP" />
					<xs:enumeration value="locationOfInterest.addr.CTY" />
					<xs:enumeration value="locationOfInterest.addr.STA" />
					<xs:enumeration value="locationOfInterest.addr.CNT" />
					<xs:enumeration value="relevanceScore" />
					<xs:enumeration value="strengthOfRecommedation" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="generatorType">
		<xs:annotation>
			<xs:documentation>The Atom generator element is defined in section
				4.2.4 of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="iconType">
		<xs:annotation>
			<xs:documentation>The Atom icon construct is defined in section 4.2.5
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="idType">
		<xs:annotation>
			<xs:documentation>The Atom id construct is defined in section 4.2.6
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="linkType" mixed="true">
		<xs:annotation>
			<xs:documentation>The Atom link construct is defined in section 3.4
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="required" />
		<xs:attribute name="rel" type="xs:string" use="required" />
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="hreflang" type="xs:NMTOKEN" use="required" />
		<xs:attribute name="title" type="xs:string" use="required" />
		<xs:attribute name="length" type="xs:positiveInteger"
			use="optional" />
	</xs:complexType>
	<xs:complexType name="logoType">
		<xs:annotation>
			<xs:documentation>The Atom logo construct is defined in section 4.2.8
				of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:anyURI" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="sourceType">
		<xs:annotation>
			<xs:documentation>The Atom source construct is defined in section
				4.2.11 of the format spec.</xs:documentation>
		</xs:annotation>
		<xs:choice maxOccurs="unbounded">
			<xs:element name="author" type="personType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="category" type="categoryType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="contributor" type="personType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="generator" type="generatorType"
				minOccurs="0" />
			<xs:element name="icon" type="iconType" minOccurs="0" />
			<xs:element name="id" type="idType" minOccurs="0" />
			<xs:element name="link" type="linkType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="logo" type="logoType" minOccurs="0" />
			<xs:element name="rights" type="textType" minOccurs="0" />
			<xs:element name="subtitle" type="textType" minOccurs="0" />
			<xs:element name="title" type="textType" minOccurs="0" />
			<xs:element name="updated" type="dateTimeType" minOccurs="0" />
			<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="uriType">
		<xs:simpleContent>
			<xs:extension base="xs:anyURI" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="dateTimeType">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime" />
		</xs:simpleContent>
	</xs:complexType>
	<xs:attributeGroup name="commonAttributes">
		<xs:attribute ref="xml:base" />
		<xs:attribute ref="xml:lang" use="required" />
	</xs:attributeGroup>
	<xs:complexType name="aggregateKnowledgeResponse">
		<xs:sequence>
			<xs:element ref="feed" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attributeGroup ref="commonAttributes" />
	</xs:complexType>
</xs:schema>
