oib-request/oib-profile-schema/src/main/resources/ResourceProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by Guilherme Del 
	Fiol (Duke University) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>--- CONTEXT ELEMENTS ---</xs:documentation>
	</xs:annotation>
	<xs:complexType name="Context">
		<xs:sequence>
			<xs:element name="contextDescription" minOccurs="0" />
			<xs:element name="contextDefinition">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="patientGender" minOccurs="0" />
						<xs:element ref="patientAgeGroup" minOccurs="0" />
						<xs:element ref="task" />
						<xs:element ref="serviceDeliveryLocation" minOccurs="0"
							maxOccurs="unbounded" />
						<xs:element ref="encounterType" minOccurs="0" />
						<xs:element ref="performerLanguage" minOccurs="0" />
						<xs:element ref="performerDiscipline" minOccurs="0" />
						<xs:element ref="performerKnowledgeUserType" minOccurs="0" />
						<xs:element ref="informationRecipientLanguage"
							minOccurs="0" />
						<xs:element ref="informationRecipientDiscipline"
							minOccurs="0" />
						<xs:element ref="informationRecipientUserType"
							minOccurs="0" />
						<xs:element ref="subjectCoverage" />
						<xs:element ref="subTopicCoverage" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="knowledgeRequestService">
				<xs:annotation>
					<xs:documentation>Information about the resource's knowledge
						request service (i.e., the one that fulfills infobutton requests)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="knowledgeRequestServiceLocation">
							<xs:annotation>
								<xs:documentation>URL of the service that fulfills knwoledge
									requests (e.g.,
									http://appsqa.nlm.nih.gov/medlineplus/20/services/2mplus.cfm
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:attribute ref="url" use="required" />
							</xs:complexType>
						</xs:element>
						<xs:element name="attributes" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Attributes that need to be added to a
									URL-based request and that are not part of the explicit context
									elements (e.g., attributes that are not part of the HL7
									Infobutton standard)
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="attribute" maxOccurs="unbounded">
										<xs:complexType>
											<xs:attribute name="name" use="required" />
											<xs:attribute name="value" use="required" />
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" use="required" />
		<xs:attribute name="name" use="required" />
		<xs:attribute name="hl7Compliant" type="xs:boolean" use="required">
			<xs:annotation>
				<xs:documentation>Defines if the resource is HL7 compliant for this
					context definition instance.
				</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ContextElement">
		<xs:sequence>
			<xs:element ref="syntaxOnResource" minOccurs="0" />
		</xs:sequence>
		<xs:attributeGroup ref="ContextElement" />
	</xs:complexType>
	<xs:complexType name="CodedContextElement">
		<xs:complexContent>
			<xs:extension base="ContextElement">
				<xs:sequence>
					<xs:element ref="matchingDomain" minOccurs="0" />
					<xs:element ref="codeTransformation" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MatchingDomainDefinition">
		<xs:sequence>
			<xs:element ref="codeTransformation" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KnowledgeUser">
		<xs:sequence>
			<xs:element name="knowledgeUserType" type="CodedContextElement" />
			<xs:element name="discipline" type="CodedContextElement"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="knowledgeResourceProfile">
		<xs:annotation>
			<xs:documentation>Characterizes a knowledge resource in terms of 1)
				the contexts in which the resource is relevant; 2) the code systems
				that the resource is indexed on; and 3) the syntax that the resource
				uses to process knowledge requests.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header" minOccurs="1">
					<xs:annotation>
						<xs:documentation>Metadata about the knowledge resource profile,
							including a description, version control, contact information,
							etc.
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" type="ST">
								<xs:annotation>
									<xs:documentation>Human readable title of the knowledge
										resource profile (e.g., MedlinePlus profile)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="knowledgeResourcePurpose" minOccurs="0">
								<xs:annotation>
									<xs:documentation>A narrative description of the purpose of a
										knowledge resource, including intent of use, target users,
										subject domains, etc.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="profileDescription" type="ST">
								<xs:annotation>
									<xs:documentation>A narrative description of the profile
										definitiion, including the contexts in which the resource is
										relevant.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="versionControl">
								<xs:annotation>
									<xs:documentation>Documentation of changes made to a resource
										profile
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="modification" minOccurs="0"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Description of changes made to a
													particular version of the profile.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="modificationDescription" type="ST">
														<xs:annotation>
															<xs:documentation>Narrative description of the
																modification.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="modificationReason" type="CD">
														<xs:annotation>
															<xs:documentation>A code that represents the primary
																reason for making the change.
															</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="author">
											<xs:annotation>
												<xs:documentation>Person who created a particular version of
													the profile.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="name" />
													<xs:element name="organization">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="Id">
																	<xs:sequence>
																		<xs:element name="department" type="ST"
																			minOccurs="0" maxOccurs="unbounded" />
																	</xs:sequence>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="jobTitle" type="ST" />
													<xs:element ref="contactInformation" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="publicationDate" type="xs:dateTime"
										use="required">
										<xs:annotation>
											<xs:documentation>Date a particular version of the profile
												was published to the Infobutton Manager knowledge base.
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="resourceContactInformation"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Contact information for the knowledge
										resource.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sales" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Knowledge resource sales contact.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="name" />
													<xs:element ref="contactInformation" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="technicalContact" minOccurs="0"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Knowledge resource technical contact (not
													technical support).
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="name" />
													<xs:element ref="contactInformation" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="technicalSupport" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Knowledge resource front line technical
													support. An entity that needs to be contacted in case the
													resource does not work.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element ref="contactInformation" />
													<xs:element name="onlineSupportUrl" minOccurs="0">
														<xs:complexType>
															<xs:attribute ref="url" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="resourceLink" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Links to relevant documentation about the
										knowledge resource (e.g., home page, search page, API
										documentation, testing tool, contact information).
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute ref="url" use="required" />
									<xs:attribute name="linkName" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="id" type="xs:integer" use="required">
							<xs:annotation>
								<xs:documentation>Identifier that uniquely and permanently
									identifies the knowledge resource profile in the Infobutton
									Manager knowledge base.
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="version" type="xs:unsignedInt"
							use="required">
							<xs:annotation>
								<xs:documentation>Version of the knowledge resource profile
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="profileDefinition">
					<xs:annotation>
						<xs:documentation>Computable characteristics of the profile,
							including relevant contexts, code systems, and API syntaxt
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="authorizedOrganizations">
								<xs:annotation>
									<xs:documentation>Organizations among the pool of Infobutton
										Manager users that are authorized to use the knowledge
										resource.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="authorizedOrganization"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>An organization that is authorized to use
													the knowledge resource.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="Id">
														<xs:sequence>
															<xs:element name="accessMethod" minOccurs="0"
																maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>A method used to access the resource
																		within a particular organization
																	</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element name="networkAccessMethod"
																			type="CD" minOccurs="0">
																			<xs:annotation>
																				<xs:documentation>A network method used to access
																					the resource within a particular organization
																					(e.g., Intranet, software VPN, hardware VPN)
																				</xs:documentation>
																			</xs:annotation>
																		</xs:element>
																		<xs:element name="authenticationMethod">
																			<xs:annotation>
																				<xs:documentation>A method used to authenticated
																					users of the resource in a particular organization
																				</xs:documentation>
																			</xs:annotation>
																			<xs:complexType>
																				<xs:choice>
																					<xs:element name="ip">
																						<xs:annotation>
																							<xs:documentation>IP range authentication method
																							</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="ipRange" maxOccurs="unbounded">
																									<xs:annotation>
																										<xs:documentation>A range of IP addresses that
																											are allowed to use the resource within a
																											particular organization
																										</xs:documentation>
																									</xs:annotation>
																								</xs:element>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="usrPwd">
																						<xs:annotation>
																							<xs:documentation>Username and password
																								authentication.
																							</xs:documentation>
																						</xs:annotation>
																						<xs:complexType>
																							<xs:attribute name="name" use="required">
																								<xs:annotation>
																									<xs:documentation>Username. Usually this will
																										be an organization's username as opposed to an
																										individual's.
																									</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																							<xs:attribute name="certificateText"
																								use="required">
																								<xs:annotation>
																									<xs:documentation>Password</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:complexType>
																					</xs:element>
																				</xs:choice>
																			</xs:complexType>
																		</xs:element>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="relevantContexts">
								<xs:annotation>
									<xs:documentation>List of contexts in which the knowledge
										resource might be relevant
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="context" type="Context"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>A context in which the knowledge resource
													might be relevant.
												</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="patientGender" type="CodedContextElement" />
	<xs:element name="patientAgeGroup" type="CodedContextElement" />
	<xs:element name="task" type="CodedContextElement" />
	<xs:element name="serviceDeliveryLocation" type="Id" />
	<xs:element name="encounterType" type="CodedContextElement" />
	<xs:element name="performerLanguage" type="CodedContextElement" />
	<xs:element name="performerDiscipline" type="CodedContextElement" />
	<xs:element name="performerKnowledgeUserType" type="CodedContextElement" />
	<xs:element name="informationRecipientLanguage" type="CodedContextElement" />
	<xs:element name="informationRecipientDiscipline" type="CodedContextElement" />
	<xs:element name="informationRecipientUserType" type="CodedContextElement" />
	<xs:element name="subjectCoverage" type="CodedContextElement" />
	<xs:element name="subTopicCoverage" type="CodedContextElement" />
	<xs:element name="syntaxOnResource">
		<xs:annotation>
			<xs:documentation>Defines the parameter name to be used in case the
				resource is not HL7 compliant for a given context. Required if
				context@hl7Compliant=false
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="valuePrefix" type="xs:string">
				<xs:annotation>
					<xs:documentation>A static prefix to be added to the parameter
						value.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nonHl7CompliantName" type="xs:string"
				use="required">
				<xs:annotation>
					<xs:documentation>The parameter name used by the resource
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="valueSuffix" type="xs:string">
				<xs:annotation>
					<xs:documentation>A static suffix to be appended to the parameter
						value
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="ContextElement">
		<xs:attribute name="searching" type="xs:boolean" use="required" />
		<xs:attribute name="matching" type="xs:boolean" use="required" />
	</xs:attributeGroup>
	<xs:annotation>
		<xs:documentation>--- TERMINOLOGY ELEMENTS ---</xs:documentation>
	</xs:annotation>
	<xs:complexType name="LocalCodeTranslation">
		<xs:sequence>
			<xs:element name="sourceCode" type="CD">
				<xs:annotation>
					<xs:documentation>Code to be translated from. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="targetKeyword" type="ST">
				<xs:annotation>
					<xs:documentation>Translation into a keyword</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="matchingDomain">
		<xs:annotation>
			<xs:documentation>Conceptual space that defines an area of relevance
				for a given context attribute (e.g., laboratory tests covered by a
				resource, a set of age groups covered by a given pediatric durg
				resource)
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="enumeratedDefinition">
					<xs:annotation>
						<xs:documentation>A set of codes that define the context domain as
							an internal enumerated list (e.g., ICD9 codes for diabetes
							mellitus).
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="enumerationItem" type="CD"
								maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="externalValueSet" type="CD">
					<xs:annotation>
						<xs:documentation>A set of codes represented in an external
							resource such as a terminology server.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="codeTransformation">
		<xs:annotation>
			<xs:documentation>Transforms a code received in a knowledgde request
				into a code / displayName that are suitable to be used for
				requesting knowledge from a particular resource.
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="Id">
					<xs:attribute name="id" use="required" />
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="valueSet" type="CD" />
	<xs:element name="localCodeMapping" type="LocalCodeTranslation">
		<xs:annotation>
			<xs:documentation>Simple one-to-one code translations defined locally
				within the resource profile instance.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:annotation>
		<xs:documentation>--- BASIC DATA TYPES AND ELEMENTS ---
		</xs:documentation>
	</xs:annotation>
	<xs:complexType name="CD">
		<xs:sequence>
			<xs:element name="code">
				<xs:complexType>
					<xs:attribute name="code" use="required" />
					<xs:attribute name="codeSystem" use="required" />
					<xs:attribute name="codeSystemName" />
					<xs:attribute name="displayName" use="required" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Id">
		<xs:attribute name="id" />
		<xs:attribute name="name" use="required" />
	</xs:complexType>
	<xs:complexType name="PQ">
		<xs:attribute name="value" use="required" />
		<xs:attribute name="unit" use="required" />
	</xs:complexType>
	<xs:element name="eMail" type="ST" />
	<xs:element name="phone" type="ST" />
	<xs:element name="contactInformation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="eMail" maxOccurs="unbounded" />
				<xs:element ref="phone" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType>
			<xs:attribute name="firstName" />
			<xs:attribute name="lastName" />
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="url" />
	<xs:annotation>
		<xs:documentation>--- TERMINOLOGY INFERENCE SCHEMA ----
		</xs:documentation>
	</xs:annotation>
	<xs:element name="description" type="ST" />
	<xs:element name="terminologyInference">
		<xs:annotation>
			<xs:documentation>Comment describing your root element
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" />
				<xs:element name="targetCodeSystem" type="Id" />
				<xs:element name="codeInference" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sourceCodeSystem" type="Id">
								<xs:annotation>
									<xs:documentation>Defines the source code system for which a
										particular codeInference applies.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="inferenceDefinition">
								<xs:annotation>
									<xs:documentation>Defiens the inference for a particular code
										system
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="localMappings">
											<xs:annotation>
												<xs:documentation>Simple one-to-one code translations
													defined locally within the resource profile instance. Used
													for code translations that refer to a small set of codes
													(e.g., gender, age group).
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="mapping" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="sourceValue" type="xs:string"
																use="required" />
															<xs:attribute name="targetValue" type="xs:string"
																use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="externalDefinition">
											<xs:annotation>
												<xs:documentation>Code transofrmation defined as a reference
													to an external terminology inference definition. Used for
													more complex transformations that involve one or more
													semantic navigation steps.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="traverseAssociation"
														minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="CD">
																	<xs:attribute name="sequence" use="required" />
																	<xs:attribute name="direction" use="required">
																		<xs:simpleType>
																			<xs:restriction base="xs:string">
																				<xs:enumeration value="DIRECT" />
																				<xs:enumeration value="INVERSE" />
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:attribute>
																	<xs:attribute name="maxConcepts" type="xs:int" />
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="codeProperty" type="Id" />
													<xs:element name="displayNameProperty" type="Id" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="keywordInference" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="searchCodeSystem" type="Id" />
							<xs:element name="codeProperty" type="Id" />
							<xs:element name="displayNameProperty" type="Id" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
